body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: #000;
    font-family: monospace, sans-serif;
}

* { box-sizing: border-box; }

h1,h2,h3,h4 { font-weight: 300; margin: 0; padding: 0; }

p,ul { margin: 0;padding: 0; }

.header {
    height: 60px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 22px;
}

.main {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: transparent;
    padding: 22px;
    overflow: auto;
}

ul { list-style: none; }

@keyframes appear {
    from { transform: scale(0); }
}

ul > li {
    width: 100%;
    max-width: 630px;
    height: 45px;
    padding: 8px 22px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 5px auto;
    transition: .12s, padding-left 1s;
    position: relative;
    transform-origin: left;
    animation: appear 1s;
}

li a { position: absolute; right: 22px; }

li::before {
    content: '@';
}

li:hover { padding-left: 32px;background-color: rgb(40, 41, 41); color: white; }

a { color: inherit; text-decoration: none; }

a.disabled { color: silver; }

.divider {
    width: 50%;
    height: 3px;
    margin: auto;
    background-color: rgb(58, 56, 56);
}